.HeaderSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: FalkinSerifBoldItalicPERSONAL;
    font-size: 5rem;
    color: black(255, 255, 255);
    height: auto;
    margin-top: 12vh;
    margin-bottom: 9vh;
    line-height: 1em;
}

.aboutAgency {
    border-radius: 3px;
    padding: 5%;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.096);
    margin-bottom: 3vh;
}

.TextSub-Agency {
    font-size: 1em;
    text-align: justify;
    margin: 0;
}

.FirstLineAgency {
    font-family: South_Gardens_Personal_Use;
}

.SecondLineAgency {
    font-family: FalkinSerifItalicPERSONAL;
    font-weight: 600;
    font-size: 95px;
}

.ThirdLineAgency {
    font-family: FalkinSerifItalicPERSONAL;
    font-size: 50px;
    line-height: 0.9em;
    letter-spacing: 0 !important;
}

.FirstLineTeam {
    font-family: South_Gardens_Personal_Use;
    letter-spacing: 0 !important;
}

.SecondLineTeam {
    font-family: FalkinSerifItalicPERSONAL;
    font-weight: 600;
    font-size: 130px;
    margin-top: 10px;
}