.buttonPortfolio {
    border-radius:12px 0 12px 0;
	background: #f5f5f5;
    color:#6b5952;
    margin: 50px auto;
	font:bold 12px South_Gardens_Personal_Use;
	padding:10px 10px;
    box-shadow:1px 1px 3px #6b5952;
    letter-spacing: .15rem;
}

.buttonPortfolio:hover {
	color:#F4A259;

}

