.adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    border-radius: 3px;
}

.adresse p {
    font-size: 1.2em;
    color: black;
    text-align: center;
}

.RS {
    display: flex;
    justify-content: center;
}

.logoRS {
    cursor: pointer;
    height: 50px;
    margin: 1em 1em;
}

.map {
    border: 0;
    width: 100%;
    min-height: 400px;
    margin-bottom: 5vh;
    border-radius: 3px;
    color: white;
    margin-bottom: 3vh;
}

.logo{
    width: 80%;
}