
.adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.adresse p {
    font-size: 1.4em;
    color: white;
    text-align: center;
}

.RS {
    display: flex;
    justify-content: center;
}

.logoRS {
    height: 5vw;
    margin: 0 2.5em;
}

/* .logoRS:hover {
    height: 7vw;
    margin: 0 2.5em;
    transition: 0.1s;
} */

.map {

    border: 0;
    width: 100%;
    min-height: 400px;
    margin-bottom: 5vh;
}

.logo{
    width: 80%;
}