.formCha {

}

.inputCha {
    margin-top: 1em !important;
    background-color: #FFF !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    
}

.h2formCha {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.h1formCha {
    text-align: center;
}