.firstModal {
    background : #786B60;
}

.secondModal {
    background : #786B60;
}

.button_modal_guest {
    border-radius : 50%;
    background : white;
    color : black;
}

h1 {
    color : white;
    font-size : bold;
}
.form_input{
    margin : 0 auto;
    background : #786B60;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction : column;

}
.textPresentation {
color : white;
margin-right : auto;
}

.input_title {
    color : white;
    margin-bottom: 10px;
    font-size : 10px;
    font-family: 'FalkinSerifItalicPERSONAL';
    font-size : 15px;
    font-weight : bold;
    margin-right : 100px;
    margin: 10px;

}
.guest_presentation {
    color : white;
    font-size : 13px;
    margin-right : auto;
}
.form_input {
    display : flex;
    flex-direction : column;
    align-content: center;
    justify-content: center;
    padding : 30px;
    margin : 15px; 
}

input {
 
    margin : 10px;
    width : 60%;
    margin : 0 auto;
}

textarea {
    width : 60%;
    padding : 40px;
}

.button_guest  {
    margin : 0 auto ;
    display : flex; 
    justify-content : center;
    align-items : center;
}