.Guests-Loader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  width: 100vw;
}

.SectionGuest {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  z-index: 1;
}

.SectionGuestSpot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  color: rgb(0, 0, 0);
  margin-bottom: 15vh;
}

.GuestTextSpot {
  background: rgba(255, 255, 255, 0.918);
  border-radius: 3px;
  text-align: justify;
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  color: black;
}

.GuestText {
  background: rgba(255, 255, 255, 0.918);
  border-radius: 3px;
  text-align: justify;
  padding: 5%;
  margin: 10% auto;
  color: black;
}
.GuestSubtitle{
  text-align: center;
  margin-top: 5vh;
  font-size: 1.3em;
  font-weight: 600;
}
.Title-Guest {
  text-align: left;
  font-family: "FalkinSerifBoldPERSONAL";
  font-size: 2.5em;
  color: black;
}

.FirstTitleLineGuest {
  font-family: South_Gardens_Personal_Use;
  letter-spacing: 0;
  line-height: 0.2em;
  font-size: 90px;
}

.SecondTitleLineGuest {
  position: relative;
  right: -100px;
  margin-top: 10px;
  font-family: FalkinSerifItalicPERSONAL;
  letter-spacing: 0 !important;
  font-size: 50px;
  font-weight: 600;
  color: rgb(97, 85, 74);
}


/* MODAL CSS */

/* form#contact-form {
  margin: 0;
}

form h3 {
  text-align: left;
  font-size: 2em;
  margin-bottom: 0.7em;
} */


.closeButton {
  color: rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.315);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
  transition: 0.1s;
}

.closeButton:hover {
  color: rgba(0, 0, 0, 0.733);
  border-radius: 10px;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.315);
  box-shadow: none;
  transition: 0.1s;
}

.ContactModal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: auto !important;
  border-radius: 10px;
  padding: 40px;
  background: white !important;
  z-index: 15;
}


@media (max-width: 600px) {
  .FirstTitleLineGuest {
    position: relative;
    right: 20px;
  }

  .SecondTitleLineGuest {
    position: relative;
    right: -70px;
    margin-top: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .FirstTitleLineProject {
      position: relative;
      right: -10px;
      top: -10px;
  }
}