.SectionGuestContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/agency/5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

.GuestText {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    font-size: 1.7em;
    text-align: center;
    padding: 1em;
    width: 70vw;
    border: 1px solid black;
}

p.GuestText {
    margin-bottom: 2em !important;
}

.buttonContactProjet {
    font-size: 5vh;
    height: 10vh;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.644);
    margin: 3vh 0 3vh 0;
    background-color: #786B60;
    padding: 0 20px;
    transition: 0.4s;
    border:1px solid rgba(0, 0, 0, 0.192);
}

.buttonContactProjet:hover {
    font-size: 5vh;
    height: 10vh;
    border-radius: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    margin: 3vh 0 3vh 0;
    background-color: #786B60;
    padding: 0 20px;
    transition: 0.4s;
}


/* MODAL CSS */

form#contact-form {
    margin: 0;
}

form h3 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0.7em;
}

.buttonContactProject {
    padding: 1em;
    border-radius: 20px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    transition: 0.4s;
    margin: 1em;
    font-weight: 600;
}

.buttonContactProject:hover {
    padding: 1em;
    border-radius: 20px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0.212);
    box-shadow: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
}

.closeButton {
    color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}

.closeButton:hover {
    color: rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: none;
    transition: .1s;
}

.ContactModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto !important;
    border-radius: 10px;
    padding: 40px;
    background: white !important;
    z-index: 15;
}


/* CONTACT FORM CSS */

form,input,select,textarea, .btn {
    display: block;
    margin: 3rem 0;
    padding: 0.5em;
    width: 100% !important;
    align-items: flex-start;
    box-sizing: border-box;
}

input,select,textarea {
    color: darkslategray;
    background-color: white;
    background-clip: padding-box;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, select:focus,textarea:focus {
    border-color: royalblue;
    box-shadow: none;
    -webkit-box-shadow: none;
}

p {
    font-size: 3em;
}

button.btn {
    color: white;
    background-color: #7A6A5D;
    border-color: royalblue;
    user-select: none;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    filter: brightness(80%); 
}

select:required:invalid {
      color: silver;
}

input:placeholder{
    color: silver;
}

@media screen and (max-width:768px) {
    .SectionGuestContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100vh;
        background-image: url('../img/agency/5.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(0, 0, 0);
    }

    .GuestText {
        background-color: rgba(255, 255, 255, 0.616);
        border-radius: 10px;
        font-size: 1.3em;
        text-align: center;
        padding: 1em;
        width: 70vw;
        border: 1px solid black;
    }

    p.GuestText {
        margin-bottom: 2em !important;
        text-align: justify;
    }

    .buttonContactProjet {
        font-size: 5vh;
        height: 10vh;
        border-radius: 25px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.644);
        margin: 3vh 0 3vh 0;
        background-color: #786B60;
        padding: 0 20px;
        transition: 0.4s;
        width: 70vw;
        border:1px solid rgba(0, 0, 0, 0.192);
    }
    
    .buttonContactProject {
        padding: 1em;
        border-radius: 20px;
        font-size: 1.7em;
        background-color: #7A6A5D;
        border:1px solid rgba(0, 0, 0, 0.411);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
        transition: 0.4s;
        margin: 1em;
        font-weight: 600;
    }
    
    .closeButton {
        color: rgba(0, 0, 0, 0.452);
        border-radius: 10px;
        padding: 0.5em;
        background-color: rgb(255, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0.315);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
        transition: .1s;
    }
    
    .closeButton:hover {
        color: rgba(0, 0, 0, 0.733);
        border-radius: 10px;
        padding: 0.5em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.315);
        box-shadow: none;
        transition: .1s;
    }
    
    .ContactModal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw !important;
        border-radius: 10px;
        padding: 1em !important;
        background: white !important;
        z-index: 15;
    }
}