.styleNavbar {
    background-color: #786B60;
    position: relative;
    width: 100vw;
    box-shadow: 1px 1px 10px rgb(58, 58, 58);
}

.navbar-light .navbar-toggler {
    border: none;
    padding: 15px;
}

.headroom-wrapper {
    height: 0 !important;
}

.loginLink {
    color: rgb(182, 179, 176);
}

.styleLink:hover, .loginLink:hover{
    color: white;
    transition: 0.1s;
}

.styleLink {
    font-size: 1.4em;
    margin-right: 1vw;
    color: rgb(231, 231, 231) !important;
    transition: 0.1s;
    position: relative;
}

.styleLink::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
}

.styleLink:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.closeOutside {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.RSNavbar {
    display: none;
}


@media screen and (max-width:768px) {
    .styleLink {
        margin-right: 0;
    }

    .loginLink {
        font-size: 1.4em;
    }

    .closeOutside {
        display: block;
        justify-content: flex-end;
        width: 100%;
        height: 100vh;
    }

    .mr-auto.navbar-nav {
        align-items: center;
        justify-content: space-around;
        height: 65%;
    }

    nav.navbar.navbar-expand-md.navbar-light{
        padding:0;
    }

    a.loginLink.nav-link {
        padding: 1em 0;
        text-align: center;
    }

    .RSNavbar {
        display: flex;
        justify-content: center;
    }
    
    .logoRSNavbar {
        height: 50px;
        margin: 0.5em 0.6em;
        color: rgb(182, 179, 176);
        font-size: 50px;
    }
}