.Artists {
  width: 100%;
  height: 350px;
  max-width: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  border-radius: 5px;
  animation-name: FadeInArtists;
}

.FirstTitleLineTeam {
  position: relative;
  font-family: South_Gardens_Personal_Use;
  letter-spacing: 0;
  color: rgb(97, 85, 74);
}
.SecondTitleLineTeam {
  position: relative;
  font-family: FalkinSerifItalicPERSONAL;
  font-weight: 600;
  font-size: 130px;
  margin-top: 10px;
}

#permanentartists {
  margin-bottom: 15vh;
}

.Artists-Loader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
}

.firstModalPortfolio {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.secondModalPortfolio {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-0%, -0%);
  overflow: auto;
  width: 100vw;
  height: 100vh;
  max-width: calc(100vw - 0px);
  max-height: calc(100vh - 0px);
  padding: 5vw;
  background: white;
  z-index: 15;
}
  
.infoTatoueur {
  margin-bottom: 5vh;
}

.h1Portfolio {
  font-size: 2em;
  color: black;
}

.textPresentation {
  font-size: 1em;
  color: black;
  text-align: justify;
  margin: 0;
}

.tatoueur-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tatoueur-subtitle {
  font-size: 1.2em;
  font-style: oblique;
}

.buttonPortfolio {
  padding: 1em;
  border-radius: 3px;
  font-size: 1.2em;
  background-color: #7A6A5D;
  border:1px solid rgba(0, 0, 0, 0.411);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
  transition: 0.4s;
  font-weight: 600;
  margin: 10% auto;
}

.buttonPortfolio:hover {
  border:1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  transition: 0.4s;
}

.buttonContactPortfolio {
  padding: 1em;
  border-radius: 3px;
  font-size: 1.2em;
  background-color: #7A6A5D;
  border:1px solid rgba(0, 0, 0, 0.411);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
  transition: 0.4s;
  font-weight: 600;
  margin: 3% auto;
}

.buttonContactPortfolio:hover {
  border:1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  transition: 0.4s;
}

.close-container {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  z-index: 30;
}

.leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #4d4d4d;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #4d4d4d;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

/* .close {
  margin: 60px 0 0 5px;
  position: absolute;
} */

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #f25c66;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #f25c66;
}

.imgCarrousel {
  margin-bottom: 15px;
  padding: 0 0 20px 5px;
}

@media (max-width: 600px) {
  .FirstTitleLineProject {
      position: relative;
      right: -25px;
  }
  
  .SecondTitleLineProject {
      font-size: 90px;
  }

  .ThirdTitleLineProject {
      font-size: 75px;
  }
}

@media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 1280px) {
  
}