.yourproject {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectSection1 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/1rendezvous.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ProjectSection2 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/2dessin.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ProjectSection3 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/3simulation.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ProjectSection4 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/4realisation.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.step {
    position: absolute;
    background: repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 39px,rgba(140, 140, 140, 0.02) 39px, rgba(140, 140, 140, 0.02) 57px,rgba(9, 9, 9, 0.02) 57px, rgba(9, 9, 9, 0.02) 91px,rgba(217, 217, 217, 0.02) 91px, rgba(217, 217, 217, 0.02) 119px,rgba(45, 45, 45, 0.02) 119px, rgba(45, 45, 45, 0.02) 141px,rgba(227, 227, 227, 0.02) 141px, rgba(227, 227, 227, 0.02) 184px,rgba(236, 236, 236, 0.02) 184px, rgba(236, 236, 236, 0.02) 227px,rgba(124, 124, 124, 0.02) 227px, rgba(124, 124, 124, 0.02) 244px),repeating-linear-gradient(135deg, rgba(39, 39, 39, 0.02) 0px, rgba(39, 39, 39, 0.02) 23px,rgba(2, 2, 2, 0.02) 23px, rgba(2, 2, 2, 0.02) 55px,rgba(13, 13, 13, 0.02) 55px, rgba(13, 13, 13, 0.02) 71px,rgba(44, 44, 44, 0.02) 71px, rgba(44, 44, 44, 0.02) 98px,rgba(240, 240, 240, 0.02) 98px, rgba(240, 240, 240, 0.02) 134px,rgba(182, 182, 182, 0.02) 134px, rgba(182, 182, 182, 0.02) 159px,rgba(246, 246, 246, 0.02) 159px, rgba(246, 246, 246, 0.02) 174px,rgba(157, 157, 157, 0.02) 174px, rgba(157, 157, 157, 0.02) 190px),repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 35px,rgba(217, 217, 217, 0.02) 35px, rgba(217, 217, 217, 0.02) 53px,rgba(199, 199, 199, 0.02) 53px, rgba(199, 199, 199, 0.02) 70px,rgba(196, 196, 196, 0.02) 70px, rgba(196, 196, 196, 0.02) 114px,rgba(137, 137, 137, 0.02) 114px, rgba(137, 137, 137, 0.02) 143px,rgba(249, 249, 249, 0.02) 143px, rgba(249, 249, 249, 0.02) 191px,rgba(247, 247, 247, 0.02) 191px, rgba(247, 247, 247, 0.02) 239px,rgba(38, 38, 38, 0.02) 239px, rgba(38, 38, 38, 0.02) 273px),linear-gradient(90deg, rgb(69, 69, 69),rgb(3, 3, 3));
    border-radius: 3px;
    width: 80vw;
    padding: 3em;
    text-align: center;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "FalkinSerifBoldPERSONAL";
    font-size: 4em;
    color: white;
}

.TextSub {
    font-size: 1.4em;
}

.buttonContactProject {
    padding: 1em;
    border-radius: 20px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    transition: 0.4s;
    font-weight: 600;
}

.buttonContactProject:hover {
    padding: 1em;
    border-radius: 20px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
}

/* MODAL CSS */

form#contact-form {
    margin: 0;
}

form h3 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0.7em;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
}

.closeButton {
    color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}

.closeButton:hover {
    color: rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: none;
    transition: .1s;
}

.ContactModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto !important;
    border-radius: 10px;
    padding: 40px;
    background: white !important;
    z-index: 15;
}


/* CONTACT FORM CSS */

form,input,select,textarea, .btn {
    display: block;
    margin: 3rem 0;
    padding: 0.5em;
    width: 100% !important;
    align-items: flex-start;
    box-sizing: border-box;
}

input,select,textarea {
    color: darkslategray;
    background-color: white;
    background-clip: padding-box;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, select:focus,textarea:focus {
    border-color: royalblue;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.norobots {
    display:none !important;
}

p {
    font-size: 3em;
}

button.btn {
    color: white;
    background-color: #7A6A5D;
    border-color: royalblue;
    user-select: none;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    filter: brightness(80%); 
}

select:required:invalid {
      color: silver;
}

input:placeholder{
    color: silver;
}

@media screen and (max-width:768px) {
    .step {
        position: absolute;
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 3px;
    width: 80vw;
    text-align: justify;
    color: white;
    }
    
    .Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "FalkinSerifBoldPERSONAL";
        font-size: 4em;
        color: white;
    }
    
    .TextSub {
        font-size: 1.4em;
    }
}