.FirstTitleLineProject {
    font-family: FalkinSerifItalicPERSONAL;
    font-size: 50px;
    line-height: 1em;
    margin-left: 10%;
    color: rgb(97, 85, 74);
    letter-spacing: 0 !important;
    position: relative;
        right: 30px;
        top: -7px;
}

.SecondTitleLineProject {
    font-family: South_Gardens_Personal_Use;
    font-size: 100px;
    letter-spacing: 0 !important;
    position: relative;
        right: 20px;
}

.ThirdTitleLineProject {
    font-family: FalkinSerifItalicPERSONAL;
    font-weight: 600;
    font-size: 90px;
    line-height: 1.2em;
    color: rgb(97, 85, 74);
    letter-spacing: 0 !important;
    position: relative;
        right: -10px;
        top: 5px;
}

.step {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    padding: 5%;
    text-align: justify;
    color: black;
    align-self: flex-end;
    align-items: flex-end;
}

.accordionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "anodina_bold";
    font-size: 1.5em;
    color: black;
}

.TextSub {
    font-size: 1em;
    text-align: justify;
    margin: 0;
}


/* MODAL CSS */

form#contact-form {
    margin: 0;
}

form h3 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0.7em;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
}

.closeButton {
    color: rgba(0, 0, 0, 0.452);
    border-radius: 3px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}

.closeButton:hover {
    color: rgba(0, 0, 0, 0.733);
    border-radius: 3px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: none;
    transition: .1s;
    
}

.ContactModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto !important;
    border-radius: 0 30px 0 30px;
    border: 4px #7A6A5D;
    padding: 40px;
    background: white !important;
    z-index: 15;
}

.divButton {
    display: flex;
    justify-content: center;
    margin: 3em;
}

@media (max-width: 600px) {
    .FirstTitleLineProject {
        position: relative;
        right: -25px;
    }
    
    .SecondTitleLineProject {
        font-size: 90px;
    }

    .ThirdTitleLineProject {
        font-size: 75px;
    }
}

@media(max-width: 600px) {
    .FirstTitleLineProject {
        position: relative;
        right: -20px;
        top: -5px;
    }
}

@media (min-width: 601px) and (max-width: 1280px) {
    .FirstTitleLineProject {
        position: relative;
        right: -10px;
        top: -10px;
    }
}