.yourproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(326deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 6%,rgba(157, 157, 157,0.04) 6%, rgba(157, 157, 157,0.04) 29%,rgba(77, 77, 77,0.04) 29%, rgba(77, 77, 77,0.04) 100%),linear-gradient(164deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 36%,rgba(157, 157, 157,0.04) 36%, rgba(157, 157, 157,0.04) 61%,rgba(77, 77, 77,0.04) 61%, rgba(77, 77, 77,0.04) 100%),linear-gradient(336deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 64%,rgba(157, 157, 157,0.04) 64%, rgba(157, 157, 157,0.04) 69%,rgba(77, 77, 77,0.04) 69%, rgba(77, 77, 77,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.ProjectSection1 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/1rendezvous.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border:3px solid black;
}

.ProjectSection2 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/2dessin.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border-bottom:3px solid black;
}

.ProjectSection3 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/3simulation.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ProjectSection4 {
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.7)), url('../img/projet/4realisation.jpg');
    background-size: cover;
	background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border:3px solid black;
}

.step {
    background: linear-gradient(326deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 6%,rgba(157, 157, 157,0.04) 6%, rgba(157, 157, 157,0.04) 29%,rgba(77, 77, 77,0.04) 29%, rgba(77, 77, 77,0.04) 100%),linear-gradient(164deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 36%,rgba(157, 157, 157,0.04) 36%, rgba(157, 157, 157,0.04) 61%,rgba(77, 77, 77,0.04) 61%, rgba(77, 77, 77,0.04) 100%),linear-gradient(336deg, rgba(236, 236, 236,0.04) 0%, rgba(236, 236, 236,0.04) 64%,rgba(157, 157, 157,0.04) 64%, rgba(157, 157, 157,0.04) 69%,rgba(77, 77, 77,0.04) 69%, rgba(77, 77, 77,0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    border-radius: 3px;
    padding: 5%;
    text-align: center;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "FalkinSerifBoldPERSONAL";
    font-size: 2.5em;
    color: white;
}

.TextSub {
    font-size: 1.3em;
}

.buttonContactProject {
    padding: 1em;
    border-radius: 3px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    transition: 0.4s;
    font-weight: 600;
    margin: 5vh;
}

.buttonContactProject:hover {
    padding: 1em;
    border-radius: 3px;
    font-size: 1.7em;
    background-color: #7A6A5D;
    border:1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
}




/* MODAL CSS */

form#contact-form {
    margin: 0;
}

form h3 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0.7em;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
}

.closeButton {
    color: rgba(0, 0, 0, 0.452);
    border-radius: 3px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}

.closeButton:hover {
    color: rgba(0, 0, 0, 0.733);
    border-radius: 3px;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: none;
    transition: .1s;
    
}

.ContactModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: auto !important;
    border-radius: 10px;
    padding: 40px;
    background: white !important;
    z-index: 15;
}


/* CONTACT FORM CSS */

form,input,select,textarea, .btn {
    display: block;
    margin: 3rem 0;
    padding: 0.5em;
    width: 100% !important;
    align-items: flex-start;
    box-sizing: border-box;
}

input,select,textarea {
    color: darkslategray;
    background-color: white;
    background-clip: padding-box;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, select:focus,textarea:focus {
    border-color: royalblue;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.norobots {
    display:none !important;
}

button.btn {
    color: white;
    background-color: #7A6A5D;
    border-color: royalblue;
    user-select: none;
    line-height: 1.5;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    filter: brightness(80%); 
}

select:required:invalid {
      color: silver;
}

input:placeholder{
    color: silver;
}
