.agencyContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

.title {
    display: flex;
    justify-content: left;
    padding-left: 2vw;
    font-size: 8vh !important;
    font-weight: 300;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #786B60;
    height: 20vh;
    font-size: 3em;
}