.SectionContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.title {
    display: flex;
    justify-content: left;
    padding-left: 2vw;
    font-size: 8vh !important;
    font-weight: 500;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #786B60;
    height: 20vh;
    font-size: 3em;
    margin: 0;
}

.aboutAgency {
    padding: 2em 10em 4em 10em;
    font-size: 1.4em;
    text-align: justify;
    line-height: 2em;
    border: 1px  red;
    text-align: center;
}