.container_guest {
    margin-top : 30px;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    width : 100% ;
    background : #786B60;
    padding : 100px;
}
.title_guest {
    padding-top : 10px;
}
.text_guest{
    padding-top: 61px;
    text-align: center;
    margin: 0 auto;
    padding: 70px;
}

.button_guest{
    padding-top : 40px;
    border-radius : 10%;
    padding : 20px;
    margin : 0 auto;

}
button .button_guest {
    display : flex;
    flex-direction : column ;
    align-items : center ;
    justify-content: center;
    margin-top: 110%;
}


h1 {
    text-align : center;
}

p { 
    text-align : center;
}

