.styleLink {
    color: rgb(54, 53, 52);
    transition: 0.1s;
}

.loginLink {
    color: rgb(182, 179, 176);
}

.styleLink:hover, .loginLink:hover{
    color: white;
    transition: 0.1s;
}

.styleNavbar {
    background-color: #786B60;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100vw;
    box-shadow: 2px 1px 40px rgb(58, 58, 58);
}

.styleLink {
    font-size: 1.4em;
    margin-right: 1vw;
}

@media screen and (max-width:768px) {
    .styleNavbar {
        background-color: rgba(255, 255, 255, 0.493);
        position: fixed;
        border-radius: 10px;
        width: auto;
        top: 80vh;
        right: 15vw;
    }
    
    .styleLink {
        font-size: 1.4em;
        margin-right: 1vw;
    }
}