.styleNavbar {
    background-color: #786B60;
    position: fixed;
    width: 100vw;
    box-shadow: 2px 1px 40px rgb(58, 58, 58);
}

.styleLink {
    font-size: 1.4em;
    margin-right: 1vw;
}

@media screen and (max-width:768px) {
    .styleNavbar {
        background-color: rgba(255, 255, 255, 0.493);
        position: fixed;
        border-radius: 10px;
        width: auto;
        top: 80vh;
        right: 15vw;
    }
    
    .styleLink {
        font-size: 1.4em;
        margin-right: 1vw;
    }
}