.SectionProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectSectionOne, .ProjectSectionThree {
    display: flex;
    height: 70vh;
    width: 100vw;
    background-image: url('../img/projet/1rendezvous.jpg');
}

.ProjectSectionTwo, .ProjectSectionFour {
    display: flex;
    justify-content: flex-end;
    height: 70vh;
    width: 100vw;
    background-image: url('../img/projet/2dessin.jpg');
}

.LeftTitle {
    font-family: "FalkinSerifBoldPERSONAL";
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
    font-size: 5vw;
    border-radius: 0 0 100px 0;
    padding-right: 0.8em;
    padding-left: 0.2em;
}

.RightTextSub {
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.911);
    font-size: 1.8vw;
    border-radius: 70px 0 0 0;
    padding: 1.3em;
    width: 50vw;
    text-align: justify;
}


.RightTitle {
    font-family: "FalkinSerifBoldPERSONAL";
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
    font-size: 5vw;
    padding-left: 0.5em;
    border-radius: 0 0 0 100px;
    padding-left: 0.6em;
    padding-right: 0.2em;
}

.LeftTextSub {
    display: flex;
    align-self: flex-end;
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.911);
    font-size: 1.8vw;
    border-radius: 0 70px 0 0;
    padding: 1.3em;
    width: 50vw;
    text-align: justify;
}

@media screen and (min)