/* Feuille de style de base */

html,
body,
textarea,
figure,
label {
	margin: 0;
    padding: 0;
}

body {
	background-color: #fff;
	color: #1C051C;
	font-family: 'open_sansregular', helvetica, arial, sans-serif;
	font-size: 1.2em; 
	line-height: 1.5; 
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'FalkinSerifItalicPERSONAL';
    text-align: center;
    letter-spacing: 0.04em;
}


p {
    font-family: 'open_sansregular';
    font-size: 0.8em;
}



/* Fonts______________ */

@font-face {
    font-family: 'FalkinSerifItalicPERSONAL';
    src: url('fonts/jmh_horror/jmh_horror-webfont.woff2') format('woff2'),
         url('fonts/jmh_horror/jmh_horror-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}